In [1]:
#import mysql.connector
from sqlalchemy import create_engine
import pymysql
import numpy as np
import pandas as pd
from numpy.random import default_rng
from sklearn.metrics.pairwise import linear_kernel

In [2]:
#cnx = sqlalchemy.create_engine('mysql+pymysql://root:chilote64@localhost/analitica2')
cnx = create_engine('mysql+pymysql://root:chilote64@localhost/analitica2')

In [3]:
qry="select	clientcode,hiercode,sum(nc) as nc from 	rp_client_preference_hst group by clientcode,hiercode"
df_input=pd.DataFrame(cnx.execute(qry).fetchall())
df_input.columns=['clientcode','hiercode','nc']

In [4]:
df_input.columns=['clientcode','hiercode','nc']

In [5]:
# entire dataframe
df_input

        clientcode hiercode nc
0               10  S523920  1
1               10  S524478  1
2          1000000  S527972  1
3          1000000  S527224  1
4          1000000  S522143  1
...            ...      ... ..
4935154   99999999  S528290  1
4935155   99999999  S500668  3
4935156   99999999  S527079  2
4935157   99999999  S529192  1
4935158   99999999  S530935  1

[4935159 rows x 3 columns]

In [6]:
df_input.shape

(4935159, 3)

In [7]:
lst_client=list(set(df_input['clientcode'].tolist()))
len(lst_client)

1022972

In [8]:
list_client_array=np.array(lst_client).reshape((-1,1))

In [9]:
list_client_array

array([['11721868'],
       ['9817339'],
       ['15671487'],
       ...,
       ['16386027'],
       ['11931039'],
       ['19099612']], dtype='<U8')

In [10]:
# Number of clients to choose randomly
n=22000

In [11]:
rng = default_rng()
random_array = rng.choice(len(lst_client), size=n, replace=False)

In [12]:
random_array.shape

(22000,)

In [13]:
# convering the index array to a list
mask=random_array.tolist()
mask

[772709,
 887485,
 457101,
 162351,
 882386,
 52460,
 881227,
 400269,
 289903,
 969372,
 55053,
 603600,
 789236,
 128108,
 835061,
 1022729,
 470607,
 494936,
 211919,
 464737,
 167786,
 749835,
 383858,
 369834,
 810650,
 649867,
 798384,
 826294,
 149740,
 505488,
 154963,
 924427,
 690375,
 485533,
 899690,
 423446,
 244986,
 14211,
 330588,
 20084,
 739032,
 699052,
 874037,
 119805,
 235316,
 19760,
 741014,
 393048,
 652756,
 994826,
 543616,
 865281,
 64255,
 5931,
 729149,
 638037,
 483515,
 180479,
 193678,
 905469,
 414425,
 160326,
 188848,
 490365,
 534824,
 833682,
 285477,
 374713,
 50670,
 522111,
 613904,
 574179,
 542965,
 461561,
 645031,
 797742,
 777025,
 592874,
 482126,
 63353,
 5366,
 975200,
 6257,
 852574,
 943752,
 430557,
 1014295,
 628245,
 997082,
 715497,
 838218,
 548997,
 484392,
 212936,
 156144,
 358314,
 759321,
 401622,
 601909,
 366450,
 334709,
 369641,
 689601,
 770476,
 476093,
 56521,
 60429,
 365224,
 338644,
 105822,
 50956,
 646701,
 269505,
 836426,
 827493,
 777183,
 192858,
 766173,
 671240,
 488600,
 545388,
 462257,
 497519,
 608844,
 486312,
 108265,
 586779,
 326271,
 600131,
 1006752,
 386276,
 795138,
 367242,
 329603,
 916228,
 320440,
 194744,
 325846,
 574259,
 610854,
 230220,
 73267,
 678896,
 6670,
 706935,
 942792,
 583555,
 342994,
 897689,
 224410,
 691773,
 543830,
 879925,
 963505,
 153521,
 439194,
 392714,
 404757,
 155560,
 598359,
 591085,
 654408,
 460499,
 314049,
 677785,
 302647,
 366872,
 546230,
 572489,
 421,
 205263,
 213175,
 971026,
 498595,
 429857,
 404789,
 518849,
 1016260,
 971407,
 404204,
 898974,
 976022,
 768821,
 580238,
 1012935,
 456069,
 883024,
 569330,
 123933,
 466794,
 899624,
 436030,
 982204,
 792676,
 293166,
 984716,
 61953,
 866851,
 263020,
 11360,
 562861,
 61193,
 236379,
 210677,
 417840,
 945117,
 511088,
 125694,
 377467,
 829984,
 308214,
 379899,
 141045,
 947861,
 156667,
 695605,
 492009,
 805337,
 17654,
 540743,
 210919,
 248928,
 301548,
 111500,
 664467,
 299311,
 386820,
 963207,
 128436,
 469087,
 446230,
 582624,
 634328,
 629542,
 273592,
 802853,
 195823,
 752556,
 1002312,
 748610,
 680930,
 508958,
 127112,
 23696,
 332779,
 621999,
 58346,
 580479,
 53824,
 798481,
 1006464,
 173435,
 143345,
 412312,
 630887,
 967256,
 560401,
 136414,
 578421,
 156385,
 552164,
 200281,
 149302,
 290209,
 872690,
 42482,
 1012017,
 660699,
 699984,
 845290,
 1012696,
 584476,
 894037,
 206762,
 534583,
 344595,
 54988,
 42700,
 494856,
 693170,
 520580,
 534231,
 191273,
 740496,
 463394,
 859957,
 669175,
 535592,
 989751,
 316199,
 457998,
 8964,
 434899,
 845871,
 650661,
 452375,
 61299,
 251322,
 378677,
 1022635,
 779634,
 671427,
 557310,
 381739,
 349910,
 724345,
 927873,
 1005377,
 574946,
 325192,
 524298,
 498522,
 890766,
 362390,
 834460,
 39918,
 790125,
 98813,
 745934,
 81099,
 555009,
 232142,
 880665,
 573774,
 507385,
 920180,
 676106,
 684538,
 701709,
 286280,
 554298,
 4917,
 926250,
 150088,
 105047,
 387983,
 1013614,
 439951,
 433838,
 810239,
 1002591,
 172732,
 366067,
 164705,
 549677,
 494144,
 245478,
 719365,
 899605,
 292185,
 514357,
 407050,
 656413,
 919115,
 384985,
 817058,
 353716,
 853803,
 753116,
 996134,
 804572,
 435669,
 94206,
 52251,
 898878,
 281747,
 683132,
 132829,
 440893,
 140309,
 479187,
 928130,
 993677,
 899581,
 154189,
 239434,
 651748,
 52491,
 859975,
 263656,
 319723,
 574641,
 179206,
 969441,
 494883,
 38707,
 67929,
 473695,
 303906,
 240812,
 939662,
 836317,
 465540,
 171956,
 752584,
 944802,
 86741,
 449903,
 537790,
 419428,
 177607,
 264936,
 767198,
 923368,
 406764,
 492784,
 44034,
 601692,
 944102,
 955908,
 254327,
 403105,
 313401,
 776475,
 932655,
 510396,
 420364,
 628818,
 615608,
 985695,
 270468,
 40346,
 107967,
 601042,
 555937,
 282651,
 743447,
 454958,
 76755,
 763917,
 200112,
 131881,
 83259,
 269801,
 502344,
 465483,
 664104,
 99960,
 313439,
 449222,
 303426,
 967340,
 192566,
 275600,
 420094,
 147848,
 392461,
 1018084,
 649421,
 388804,
 592195,
 128605,
 877482,
 949836,
 727105,
 198891,
 518451,
 820885,
 706887,
 1013722,
 514837,
 234232,
 48946,
 293760,
 854482,
 356790,
 424690,
 481349,
 136663,
 45652,
 618550,
 973738,
 4474,
 433535,
 891152,
 712935,
 886005,
 246466,
 574517,
 801114,
 328698,
 822182,
 632487,
 860923,
 69372,
 880161,
 221560,
 380925,
 307853,
 735545,
 114906,
 968887,
 507417,
 627440,
 940203,
 651471,
 239397,
 750839,
 931427,
 377196,
 637035,
 478028,
 867,
 718823,
 475198,
 567331,
 916415,
 178418,
 449442,
 59552,
 991490,
 786072,
 360870,
 898460,
 898549,
 914875,
 1002985,
 676682,
 644274,
 43121,
 468908,
 403924,
 266286,
 552107,
 551183,
 184673,
 185253,
 282787,
 871162,
 513791,
 695409,
 561363,
 529296,
 60203,
 240685,
 474879,
 446677,
 337754,
 974837,
 876272,
 262963,
 1015005,
 455615,
 53563,
 849478,
 475209,
 573832,
 812808,
 435746,
 194583,
 757727,
 622596,
 896933,
 51725,
 214674,
 295758,
 62266,
 659398,
 671860,
 347642,
 517322,
 434485,
 700995,
 447908,
 245518,
 102854,
 409940,
 378838,
 917020,
 932486,
 991767,
 455989,
 646342,
 700249,
 550401,
 64101,
 697173,
 36717,
 587037,
 628261,
 652749,
 345555,
 582418,
 693175,
 713111,
 494205,
 554860,
 911327,
 692091,
 960121,
 642607,
 644263,
 906523,
 265562,
 800348,
 384163,
 328591,
 360740,
 656337,
 366128,
 828284,
 366272,
 177775,
 591480,
 928162,
 226268,
 363267,
 830148,
 590594,
 100195,
 340862,
 485534,
 39637,
 386099,
 545601,
 4326,
 31619,
 550725,
 626141,
 158363,
 205483,
 316706,
 661212,
 956103,
 658900,
 924848,
 695929,
 517628,
 186615,
 209652,
 436688,
 143359,
 803099,
 840017,
 804408,
 909975,
 100077,
 110525,
 210480,
 785065,
 96510,
 611680,
 166752,
 711418,
 509261,
 430130,
 264871,
 492547,
 13439,
 575402,
 111278,
 334335,
 452077,
 849767,
 318853,
 974763,
 489725,
 889587,
 567705,
 383635,
 737062,
 125354,
 256127,
 479751,
 461567,
 813279,
 355487,
 64093,
 698505,
 643446,
 286551,
 228978,
 386103,
 599398,
 352659,
 537730,
 575819,
 380989,
 199625,
 885511,
 627733,
 193618,
 494236,
 975653,
 535390,
 831648,
 982974,
 440068,
 916248,
 608493,
 863484,
 521597,
 165010,
 499062,
 12438,
 523462,
 563510,
 128237,
 63992,
 80186,
 154264,
 211447,
 86399,
 55673,
 229256,
 400959,
 465353,
 17913,
 76134,
 210715,
 554761,
 796926,
 236148,
 407792,
 677251,
 972854,
 635268,
 362587,
 509149,
 704569,
 464839,
 464872,
 126499,
 450884,
 268269,
 566448,
 659641,
 473704,
 146214,
 509634,
 331496,
 298331,
 848546,
 119647,
 538053,
 203506,
 586774,
 468870,
 658553,
 724155,
 581447,
 951829,
 639567,
 923829,
 413489,
 51803,
 675626,
 985590,
 652380,
 731691,
 668300,
 880356,
 745551,
 143950,
 475159,
 263514,
 432237,
 801521,
 913344,
 1008949,
 703647,
 209059,
 474242,
 672366,
 153756,
 730723,
 1022650,
 46348,
 495170,
 934254,
 321973,
 438526,
 704656,
 386728,
 409166,
 814356,
 734979,
 792519,
 846391,
 355707,
 839722,
 423286,
 821583,
 303585,
 343131,
 902299,
 1009951,
 515113,
 134568,
 718953,
 762315,
 482920,
 104324,
 282837,
 752134,
 227495,
 447921,
 329021,
 200184,
 635717,
 705848,
 370125,
 313409,
 947299,
 890747,
 892941,
 901908,
 447977,
 317755,
 131297,
 138520,
 54633,
 702578,
 367109,
 474200,
 483887,
 859821,
 328949,
 820822,
 619929,
 720132,
 23710,
 334165,
 768196,
 922443,
 585428,
 181096,
 975666,
 982994,
 28439,
 445398,
 566653,
 226230,
 566255,
 839041,
 880058,
 19051,
 87464,
 925555,
 510308,
 258582,
 441105,
 864274,
 329875,
 328820,
 453198,
 275445,
 748329,
 444219,
 1022957,
 498821,
 327596,
 373390,
 422280,
 145170,
 266379,
 153727,
 380905,
 103501,
 313081,
 465321,
 535953,
 94218,
 951610,
 516331,
 346072,
 489891,
 276309,
 403278,
 925255,
 807127,
 286318,
 72546,
 198832,
 1016393,
 212390,
 864140,
 739857,
 64187,
 455722,
 7159,
 271052,
 55848,
 745875,
 563930,
 450305,
 832497,
 29165,
 6413,
 719046,
 830320,
 495849,
 554334,
 38373,
 710458,
 835055,
 869463,
 75249,
 400582,
 744535,
 311621,
 952228,
 238697,
 337887,
 552825,
 293490,
 960770,
 440804,
 344232,
 445707,
 701847,
 806249,
 762030,
 458342,
 1021888,
 295946,
 576310,
 901201,
 252133,
 105381,
 929260,
 471567,
 254986,
 248472,
 755129,
 183002,
 442764,
 193306,
 242041,
 846647,
 357314,
 538388,
 286364,
 40092,
 686940,
 674960,
 209257,
 465201,
 139582,
 668121,
 11581,
 817804,
 771719,
 163099,
 215193,
 521864,
 659244,
 511783,
 925369,
 946130,
 655902,
 357870,
 353887,
 443633,
 869540,
 375875,
 220935,
 51808,
 645532,
 567775,
 207646,
 104539,
 406960,
 889694,
 614641,
 762104,
 666632,
 585795,
 299701,
 932943,
 1016626,
 339822,
 432620,
 751220,
 810020,
 639795,
 720006,
 682398,
 987239,
 707750,
 995263,
 322013,
 550780,
 561642,
 30509,
 235899,
 363987,
 497254,
 633917,
 483114,
 82112,
 484869,
 926387,
 741999,
 945628,
 591354,
 468079,
 378738,
 1014177,
 183241,
 ...]

In [14]:
len(mask)

22000

In [15]:
# randonly choose clients 
list_client=list_client_array[mask].reshape((1,-1)).tolist()[0]
len(list_client)

22000

In [16]:
# convert the list to a dataframe
client_df=pd.DataFrame(list_client)
client_df.columns=['clientcode']
client_df=client_df.sort_values(by='clientcode', ascending=True)
client_df.shape

(22000, 1)

In [17]:
# describing the dataframe
client_df.describe()

       clientcode
count       22000
unique      22000
top      12019091
freq            1

In [18]:
# index for clients
client_df.index = pd.RangeIndex(len(client_df))
client_df.index
idx_client=pd.Series(client_df.index, index=client_df['clientcode'])
idx_client.shape

(22000,)

In [19]:
idx_client

clientcode
10000479        0
10002293        1
10003028        2
10004170        3
10004493        4
            ...
9993890     21995
9994617     21996
9994757     21997
9994864     21998
9997341     21999
Length: 22000, dtype: int64

In [20]:
nr_client=len(list_client)
nr_client

22000

In [21]:
# dataframe filtered by randomly choosing clients
df_input=df_input[df_input['clientcode'].isin(list_client)]
df_input

        clientcode hiercode nc
74        10000479  S018006  1
75        10000479  S025008  1
200       10002293  S529834  1
201       10002293  S529402  1
202       10002293  S002013  1
...            ...      ... ..
4933957    9997341  S039004  2
4933958    9997341  S530125  1
4933959    9997341  S043004  2
4933960    9997341  S530447  1
4933961    9997341  S530476  3

[103413 rows x 3 columns]

In [22]:
# list of hiercode in df_input
list_hiercode=df_input['hiercode'].tolist()
len(list_hiercode)

103413

In [23]:
# converting list to set to eliminate duplicated and again converting to list
list_set_hiercode=list(set(list_hiercode) )
len(list_set_hiercode)

2494

In [24]:
# converting the list to a dataframe
dt_hiercode=pd.DataFrame(list_set_hiercode)
dt_hiercode.shape

(2494, 1)

In [25]:
# adding the column name and ordering hiercode in ascending order
dt_hiercode.columns=['hiercode']
dt_hiercode=dt_hiercode.sort_values(by='hiercode', ascending=True)
dt_hiercode

     hiercode
2016  S000002
2067  S000003
250   S000011
1432  S000013
1255  S000016
...       ...
352   S531129
1238  S531139
757   S531147
2281  S531155
2372  S531163

[2494 rows x 1 columns]

In [26]:
# index for hiercode elements
dt_hiercode.index = pd.RangeIndex(len(dt_hiercode))
dt_hiercode.index

RangeIndex(start=0, stop=2494, step=1)

In [27]:
idx_hiercode=pd.Series(dt_hiercode.index, index=dt_hiercode['hiercode'])
idx_hiercode.shape

(2494,)

In [28]:
# number of hiecode elements
nr_hiercode=len(list_set_hiercode)

In [29]:
# creating a matrix of 0's
s = (nr_client,nr_hiercode)
matrix=np.zeros(s)
matrix.shape

(22000, 2494)

In [30]:
# retrieving the result to a list
list_df_result=df_input['nc']
len(list_df_result)

103413

In [31]:
# hiercode index of tx
idx_hiercode_selected=idx_hiercode[df_input['hiercode']]
idx_hiercode_selected.shape

(103413,)

In [32]:
# client index of tx
idx_client_selected=idx_client[df_input['clientcode']]
idx_client_selected.shape

(103413,)

In [33]:
matrix[idx_client_selected,idx_hiercode_selected]=list_df_result

In [34]:
cosine_matrix=linear_kernel(matrix,matrix)

In [36]:
cosine_matrix.shape

(22000, 22000)

In [37]:
matrix.shape

(22000, 2494)

In [54]:
nr_cycles=47

In [38]:
matrix.shape

(22000, 2494)

In [55]:
len(lst_client)

1022972

In [56]:
# sustraction of client from list
new_list=set_diff = np.setdiff1d(lst_client, list_client)

In [57]:
# new list
len(new_list)

1000972

In [63]:
#new mask

rng = default_rng()
random_array = rng.choice(len(new_list), size=n, replace=False)

In [64]:
# convering the index array to a list
mask=random_array.tolist()
mask

[42449,
 47651,
 581103,
 322051,
 429773,
 896182,
 147343,
 528213,
 461262,
 253731,
 575617,
 323954,
 934700,
 95745,
 782515,
 135162,
 152751,
 46538,
 460081,
 617653,
 131292,
 505642,
 430466,
 830165,
 275857,
 896160,
 282808,
 762831,
 725386,
 837956,
 794656,
 71232,
 862189,
 267883,
 689266,
 504689,
 769177,
 384241,
 33807,
 155038,
 608069,
 982535,
 111204,
 668808,
 167156,
 614232,
 42341,
 359303,
 880695,
 449733,
 773285,
 159044,
 225627,
 796774,
 115815,
 324059,
 735161,
 321063,
 745300,
 77520,
 951272,
 69214,
 424589,
 380019,
 530517,
 980514,
 949724,
 308675,
 796021,
 421547,
 740001,
 205871,
 562518,
 209871,
 934720,
 768515,
 474485,
 376522,
 309159,
 817718,
 490660,
 273948,
 351248,
 803791,
 33559,
 876622,
 971457,
 20276,
 667366,
 153571,
 791370,
 615411,
 942586,
 553778,
 932841,
 28388,
 800518,
 549563,
 888608,
 403059,
 595119,
 785125,
 403576,
 273487,
 991093,
 792547,
 764836,
 935841,
 87279,
 429083,
 279864,
 200985,
 978358,
 499021,
 382917,
 671472,
 860481,
 826059,
 897032,
 740383,
 321594,
 247002,
 684465,
 828841,
 906230,
 415250,
 342261,
 330082,
 968174,
 320391,
 620243,
 740240,
 853414,
 607179,
 875818,
 816229,
 975704,
 59960,
 848933,
 460183,
 590362,
 613584,
 892747,
 656221,
 183408,
 492251,
 70334,
 349833,
 302549,
 841549,
 884641,
 558004,
 375687,
 334769,
 440217,
 336639,
 249201,
 65205,
 554603,
 229132,
 885035,
 723227,
 668769,
 974807,
 599639,
 629509,
 277882,
 675270,
 332238,
 566750,
 519823,
 108841,
 44419,
 281479,
 298333,
 368527,
 774433,
 124966,
 994718,
 426325,
 474510,
 113596,
 435398,
 210052,
 854285,
 727283,
 403883,
 171031,
 400109,
 433865,
 848311,
 515430,
 339363,
 940744,
 374008,
 417571,
 995600,
 151958,
 24413,
 912626,
 767530,
 660479,
 528928,
 655577,
 975536,
 307573,
 78062,
 107878,
 456429,
 859484,
 709775,
 543092,
 193221,
 485124,
 700737,
 63299,
 26661,
 363844,
 12537,
 544245,
 573288,
 324790,
 782273,
 65131,
 78501,
 507957,
 116662,
 902903,
 166119,
 957160,
 583832,
 981341,
 701974,
 675187,
 519760,
 847836,
 177548,
 510194,
 514680,
 512470,
 377365,
 906534,
 929039,
 73198,
 483940,
 668011,
 10769,
 478011,
 295549,
 878468,
 861986,
 799027,
 428830,
 75105,
 384856,
 8224,
 934212,
 23646,
 871406,
 177938,
 248114,
 726818,
 59775,
 178866,
 954203,
 676839,
 861486,
 10730,
 766654,
 534608,
 229925,
 896744,
 342759,
 583252,
 607710,
 508396,
 914870,
 73024,
 945373,
 379278,
 753307,
 37388,
 656105,
 419215,
 297517,
 136295,
 80584,
 966037,
 199774,
 45466,
 683243,
 714391,
 852075,
 897261,
 391608,
 990885,
 783463,
 83263,
 882068,
 673493,
 105655,
 373454,
 170790,
 108995,
 635044,
 94663,
 798339,
 160680,
 643400,
 360688,
 379122,
 832411,
 572491,
 548598,
 53389,
 988233,
 769030,
 190275,
 25819,
 59571,
 899310,
 339601,
 688924,
 740561,
 145692,
 17653,
 829144,
 158843,
 616256,
 939421,
 796550,
 676451,
 885408,
 600145,
 599502,
 6670,
 237509,
 320033,
 298795,
 621742,
 244217,
 580115,
 705206,
 942989,
 737087,
 594962,
 907792,
 300162,
 11972,
 312348,
 330527,
 955206,
 115207,
 40607,
 776013,
 665474,
 788602,
 438176,
 930309,
 908708,
 379220,
 157377,
 943778,
 78460,
 556395,
 934017,
 600359,
 659660,
 380908,
 877563,
 383648,
 832378,
 5798,
 404462,
 123731,
 778638,
 838559,
 493911,
 916374,
 253174,
 645059,
 688880,
 122138,
 653797,
 525594,
 511547,
 182358,
 247382,
 824213,
 499572,
 589433,
 881293,
 278666,
 911524,
 98124,
 105924,
 514847,
 832481,
 785869,
 227366,
 940800,
 554448,
 328589,
 858590,
 960528,
 372099,
 697786,
 638724,
 198597,
 646167,
 592171,
 793826,
 415305,
 762480,
 613820,
 786402,
 105876,
 741291,
 736541,
 306661,
 271096,
 830412,
 460691,
 221854,
 146399,
 859195,
 423464,
 334645,
 712785,
 174083,
 992208,
 537619,
 965229,
 420712,
 686584,
 60949,
 605852,
 264808,
 109072,
 420435,
 947762,
 940396,
 159085,
 905089,
 896961,
 881569,
 421242,
 542909,
 834671,
 590626,
 663281,
 340458,
 316352,
 258500,
 496930,
 839507,
 556391,
 656253,
 382350,
 267132,
 522966,
 461051,
 789570,
 914981,
 961857,
 731680,
 456901,
 482933,
 298459,
 371720,
 933830,
 306064,
 279009,
 433897,
 641468,
 786897,
 433790,
 48137,
 841465,
 453166,
 99743,
 833144,
 127324,
 568346,
 888691,
 892576,
 370674,
 975779,
 587622,
 807894,
 955250,
 433515,
 89461,
 123808,
 380797,
 101588,
 579100,
 927097,
 714385,
 712349,
 650812,
 697004,
 101160,
 717791,
 352131,
 403751,
 650626,
 763631,
 984900,
 781517,
 324816,
 251439,
 417846,
 257033,
 962150,
 365189,
 545406,
 693123,
 858575,
 113320,
 8177,
 335602,
 672601,
 846839,
 307618,
 733908,
 307237,
 306754,
 701767,
 276917,
 86916,
 823457,
 660167,
 866048,
 773341,
 141081,
 408801,
 931276,
 90960,
 92916,
 592322,
 240341,
 515462,
 806912,
 147285,
 470019,
 998057,
 798003,
 367641,
 698513,
 38625,
 235336,
 336565,
 687399,
 469510,
 905061,
 129241,
 394096,
 411389,
 561042,
 786463,
 350607,
 498503,
 294907,
 188188,
 387138,
 56486,
 368482,
 873438,
 876246,
 767344,
 758773,
 462671,
 854696,
 417677,
 208015,
 62678,
 28533,
 689392,
 848545,
 90581,
 168754,
 214705,
 519545,
 315943,
 652819,
 790483,
 448804,
 103151,
 193343,
 337748,
 325408,
 69511,
 879817,
 200392,
 229787,
 438251,
 489646,
 972816,
 778714,
 523121,
 402388,
 636880,
 26169,
 7399,
 318654,
 42107,
 800564,
 117434,
 95262,
 133418,
 34549,
 114419,
 300392,
 345012,
 326201,
 455,
 54060,
 51720,
 417626,
 712580,
 736892,
 132711,
 34582,
 609819,
 50386,
 97301,
 447035,
 703918,
 190993,
 135211,
 990770,
 539776,
 341745,
 464832,
 420559,
 767551,
 385211,
 313576,
 738572,
 466962,
 140734,
 878569,
 321054,
 436225,
 403909,
 328760,
 501328,
 267217,
 757270,
 540641,
 760950,
 530727,
 936599,
 774189,
 273097,
 697003,
 728244,
 490331,
 905350,
 854423,
 290234,
 70357,
 239036,
 669219,
 569091,
 275316,
 218892,
 789043,
 494755,
 304013,
 194090,
 640820,
 237669,
 740812,
 216507,
 58508,
 444522,
 272180,
 614506,
 369856,
 569812,
 642125,
 246290,
 394121,
 856515,
 132658,
 426268,
 176066,
 729091,
 59812,
 695822,
 178925,
 420446,
 588553,
 583835,
 734296,
 171400,
 128815,
 474542,
 730328,
 413683,
 929386,
 407237,
 708843,
 443850,
 719472,
 672711,
 477298,
 452566,
 703165,
 383181,
 785568,
 800491,
 593403,
 268958,
 751380,
 547341,
 36843,
 697006,
 118981,
 211921,
 799887,
 830992,
 6560,
 487737,
 176097,
 746976,
 981218,
 863856,
 971796,
 147908,
 85044,
 598041,
 475053,
 304874,
 476046,
 315043,
 1000323,
 532160,
 986781,
 838890,
 845916,
 756436,
 133048,
 714088,
 871044,
 408484,
 827032,
 117169,
 117077,
 695724,
 973366,
 224471,
 356951,
 381441,
 228676,
 506240,
 806636,
 875045,
 912345,
 37193,
 196659,
 670238,
 528088,
 985130,
 441104,
 210987,
 626019,
 89685,
 873141,
 601467,
 662109,
 168812,
 199859,
 756190,
 974453,
 521565,
 949508,
 363951,
 600577,
 761561,
 224010,
 381410,
 829880,
 458730,
 570332,
 418518,
 370550,
 561655,
 393631,
 291640,
 220553,
 237890,
 875462,
 357342,
 527623,
 91420,
 982946,
 934957,
 924511,
 880607,
 681776,
 568192,
 719858,
 611207,
 258067,
 997615,
 786407,
 618932,
 215720,
 835903,
 819737,
 881251,
 58198,
 975352,
 680120,
 703968,
 349275,
 598325,
 812876,
 572795,
 906731,
 278130,
 196945,
 745212,
 95997,
 983700,
 726701,
 503727,
 769631,
 116197,
 403088,
 668853,
 78417,
 848347,
 905820,
 972628,
 664423,
 354858,
 679943,
 647699,
 50524,
 252955,
 636718,
 845911,
 983128,
 911380,
 704417,
 712874,
 327819,
 459154,
 193136,
 529186,
 130427,
 424622,
 111658,
 427566,
 919811,
 730414,
 514815,
 66443,
 693050,
 311021,
 624831,
 702825,
 930575,
 196002,
 79812,
 887038,
 470809,
 945125,
 705581,
 558304,
 665325,
 98429,
 456948,
 782648,
 892587,
 977785,
 342998,
 296268,
 358375,
 92688,
 901999,
 961363,
 85413,
 922779,
 433020,
 54763,
 561671,
 320751,
 455763,
 163523,
 763663,
 288228,
 519766,
 645469,
 678264,
 735055,
 275356,
 489052,
 365602,
 82650,
 703696,
 652028,
 95566,
 965481,
 4032,
 796012,
 629366,
 278950,
 311275,
 920279,
 96312,
 772473,
 550597,
 106035,
 292524,
 735192,
 176827,
 20906,
 270890,
 96192,
 910070,
 518720,
 680097,
 719506,
 626594,
 684554,
 133765,
 231979,
 673677,
 10308,
 594534,
 870731,
 766063,
 584756,
 938267,
 275527,
 772989,
 93867,
 522857,
 87989,
 563344,
 916303,
 60824,
 177192,
 258034,
 792833,
 682029,
 226169,
 533544,
 764422,
 123147,
 748727,
 800260,
 733180,
 921534,
 151344,
 460795,
 668493,
 46450,
 447764,
 718830,
 561505,
 397425,
 290709,
 657362,
 182868,
 317089,
 3544,
 462058,
 424023,
 331823,
 719092,
 296848,
 505504,
 255210,
 339114,
 765461,
 859049,
 333723,
 531509,
 871800,
 798736,
 188284,
 766488,
 504587,
 220498,
 307159,
 968296,
 51907,
 104727,
 190576,
 552709,
 212920,
 398726,
 548181,
 197201,
 ...]

In [65]:
len(mask)

22000

In [66]:
list_client_array=np.array(new_list).reshape((-1,1))

In [67]:
# randonly choose clients 
list_client=list_client_array[mask].reshape((1,-1)).tolist()[0]
len(list_client)

22000

In [68]:
# convert the list to a dataframe
client_df=pd.DataFrame(list_client)
client_df.columns=['clientcode']
client_df=client_df.sort_values(by='clientcode', ascending=True)
client_df.shape

(22000, 1)

In [69]:
# index for clients
client_df.index = pd.RangeIndex(len(client_df))
client_df.index
idx_client=pd.Series(client_df.index, index=client_df['clientcode'])
idx_client.shape

(22000,)

In [70]:
nr_client=len(list_client)
nr_client

22000

In [71]:
# dataframe filtered by randomly choosing clients
df_input_new=df_input[df_input['clientcode'].isin(list_client)]
df_input_new

        clientcode hiercode nc
121       10001269  S529519  1
546       10003845  S527432  1
547       10003845  S529811  1
1278      10008556  S500344  3
1279      10008556  S502736  3
...            ...      ... ..
4933870    9996888  S009016  1
4934071    9997820  S529762  1
4934072    9997820  S530890  1
4934073    9997820  S007040  1
4934336    9999850  S523843  1

[105862 rows x 3 columns]

In [72]:
# list of hiercode in df_input
list_hiercode=df_input_new['hiercode'].tolist()
len(list_hiercode)

105862

In [73]:
# converting list to set to eliminate duplicated and again converting to list
list_set_hiercode=list(set(list_hiercode) )
len(list_set_hiercode)

2501

In [74]:
# converting the list to a dataframe
dt_hiercode=pd.DataFrame(list_set_hiercode)
dt_hiercode.shape

(2501, 1)

In [75]:
# adding the column name and ordering hiercode in ascending order
dt_hiercode.columns=['hiercode']
dt_hiercode=dt_hiercode.sort_values(by='hiercode', ascending=True)
dt_hiercode

     hiercode
1804  S000003
214   S000011
1901  S000013
1192  S000016
1849  S000029
...       ...
1748  S531090
1409  S531129
1489  S531139
153   S531147
1584  S531163

[2501 rows x 1 columns]

In [76]:
# index for hiercode elements
dt_hiercode.index = pd.RangeIndex(len(dt_hiercode))
dt_hiercode.index

RangeIndex(start=0, stop=2501, step=1)

In [84]:
idx_hiercode=pd.Series(dt_hiercode.index, index=dt_hiercode['hiercode'])
idx_hiercode.shape

(2501,)

In [85]:
# number of hiecode elements
nr_hiercode=len(list_set_hiercode)

In [86]:
# creating a matrix of 0's
s = (nr_client,nr_hiercode)
matrix=np.zeros(s)
matrix.shape

(22000, 2501)

In [87]:
# retrieving the result to a list
list_df_result=df_input_new['nc']
len(list_df_result)

105862

In [88]:
# hiercode index of tx
idx_hiercode_selected=idx_hiercode[df_input_new['hiercode']]
idx_hiercode_selected.shape

(105862,)

In [89]:
# client index of tx
idx_client_selected=idx_client[df_input_new['clientcode']]
idx_client_selected.shape

(105862,)

In [90]:
matrix[idx_client_selected,idx_hiercode_selected]=list_df_result

In [56]:
cosine_matrix=linear_kernel(matrix,matrix)

In [39]:
cosine_matrix

array([[ 2.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  4.,  0., ...,  0.,  1.,  0.],
       [ 0.,  0., 30., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  8.,  0.,  0.],
       [ 0.,  1.,  0., ...,  0., 55.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0., 28.]])

In [ ]:
def get_sim_matrix(i,n,hiercode,cosine_similarities_matrix,idx_vector):
        print((" iteracion NÂ° {}").format(i))
        # vector similarities en i
        # columna con similarities
        mask=np.arange(i,n)
        x=cosine_similarities_matrix[i].reshape((-1, 1))
        x=x[mask]
        sim_col=x.astype(np.float)
        # calcula indices
        #idx_vector=get_idx(dfiltered)
        idx_vector_array=np.array(list(idx_vector[mask])).reshape((-1,1))
        # prodcode
        prodcode=idx_vector[i]
        # id
       #idd=np.arange(idinicio,idinicio+n).reshape((-1,1))
        # antecedent
        antecedent=np.array([prodcode] * n).reshape((-1, 1))
        antecedent=antecedent[mask]
        hiercode=np.array([hiercode] * n).reshape((-1, 1))
        hiercode=hiercode[mask]
        matrix=np.concatenate([hiercode,antecedent,idx_vector_array,sim_col], axis=1) 
        return [[a[0],a[1],a[2],a[3].astype(np.float)] for a in matrix if a[3].astype(np.float)>=0.5 and a[1]!=a[2]]

In [63]:
i=1

In [64]:
n=cosine_matrix.shape[0]
n

22000

In [65]:
mask=np.arange(i,n)

In [66]:
mask

array([    1,     2,     3, ..., 21997, 21998, 21999])

In [67]:
x=cosine_matrix[i].reshape((-1, 1))

In [68]:
x

array([[0.],
       [4.],
       [0.],
       ...,
       [0.],
       [1.],
       [0.]])

In [59]:
x=x[mask]

In [60]:
x

array([[2.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]])

In [61]:
sim_col=x.astype(np.float)

In [62]:
sim_col[200]

array([0.])